################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/GameDevStudy/.vs
/src/GameDevStudy/Games/GameDevStudy.Monotris/bin/
/src/GameDevStudy/Games/GameDevStudy.Monotris/obj
