################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/GameDevStudy/.vs/GameDevStudy/v17
/src/GameDevStudy/Games/GameDevStudy.Monotris/bin/Debug/net6.0
/src/GameDevStudy/Games/GameDevStudy.Monotris/obj
