################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/monogame/Pg.MonoGame/.vs/*
**/bin/*
**/obj/*